body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 4.5rem;
    }
}

.about {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 4rem;
}

.links {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.links span {
    display: inline-block;
}

.links object {
    position: relative;
    z-index: -1
}

.links a {
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: #5a5a5a;
}

.links a:hover {
    color: black;
}


/* Space out the Bootstrap <hr> more */

.divider {
    margin: 4rem 0;
}

footer {
    margin-top: 2rem;
}