html, body {
    height: 100%;
    background-color: white;
    overflow: hidden;
}

#title {
    color: black;
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}

#name {
    font-weight: 900;
    font-size: 36px;
}

#topics {
    font-weight: 500;
    color: black;
}

#about {
    font-weight: 500;
    padding-left: 100px;
    padding-right: 100px;
}

.links {
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.links h4 {
    color: black;
}

.links span {
    display: inline-block;
}

.links object {
    position: relative;
    z-index: -1
}

.links a {
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: #5a5a5a;
}

.links a:hover {
    color: black;
}

.bottom {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

/* smartphones, Android phones, landscape iPhone */
@media only screen and (max-device-width: 500px) {
    html, body {
        overflow-y: auto;
        overflow-x: hidden !important;
    }

    #title {
        top: 20%;
    }

    #name {
        letter-spacing: 1px;
        font-weight: 900;
        font-size: 30px;
    }

    #topics {
        letter-spacing: 1px;
        font-size: 20px;
        font-weight: 500;
        color: black;
    }
    
    #about {
        letter-spacing: 1px;
        font-size: 16px;
        font-weight: 500;
        padding-left: 7px;
        padding-right: 7px;
    }

    .bottom {
        letter-spacing: 1px;
    }

    .links {
        margin-bottom: 5px;
    }
}