html, body {
    height: 100%;
    background-color: white;
    overflow: hidden;
}

#title {
    color: black;
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}

#name {
    font-weight: 900;
    font-size: 36px;
}

#topics {
    font-weight: 500;
    color: black;
}

#about {
    font-weight: 500;
    padding-left: 100px;
    padding-right: 100px;
}

.links {
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.links span {
    display: inline-block;
}

.links object {
    position: relative;
    z-index: -1
}

.links a {
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: #5a5a5a;
}

.links a:hover {
    color: black;
}

.bottom {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}