<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Andrew Porter">

    <title>Andrew R. Porter</title>

    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <link rel="canonical" href="https://www.aporter.me">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}">
</head>

<body>
    {% with active="/experience" %} {% include "nav.html" %} {% endwith %}

    <main role="main">

        <div class="container marketing">

            <!-- Work Experience -->

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Wayfair<br><span class="text-muted">Software Engineer</span></h2>
                    <p class="lead">Starting on July 6th, 2020 in Boston.
                        
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img" src="{{ url_for('static', filename='img/wayfair.jpeg') }}" alt="University of New Hampshire">
                </div>
            </div>

            <hr class="divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Bottomline Technologies<br><span class="text-muted">Software Engineer
                            Intern</span></h2>
                    <p class="lead">Utilized Mockito framework to develop unit tests for back-end utilities. Developed interactive RESTful API documentation with Swagger. Investigated and resolved several CSRF vulnerabilities. Resolved legacy static code analysis violations
                        (SONAR).
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img" src="{{ url_for('static', filename='img/bottomline.jpg') }}" alt="Bottomline Technologies, Inc.">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">University of New Hampshire<br><span class="text-muted">Undergraduate
                            Research Assistant</span></h2>
                    <p class="lead">Worked on interdisciplinary research projects that combine Computer Science and Cognitive Psychology to model and examine how people think/learn. Utilized Natural Language Processing (NLP) tools like Sumy, TextBlob and NLTK in Python.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img" src="{{ url_for('static', filename='img/unh.jpg') }}" alt="University of New Hampshire">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">EFI<br><span class="text-muted">Software Engineer Intern</span></h2>
                    <p class="lead">Interpolated YAML and XML messages with C++ and Python to support localization within printer UI. Connected to MySQL database to keep track of languages currently in use. Migrated python2 code to python3. Used python to analyze and
                        reduce log dumps.</p>
                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img" src="{{ url_for('static', filename='img/efi.jpg') }}" alt="Electronics For Imaging, Inc. All Rights Reserved.">
                </div>
            </div>

            <hr class="divider">

        </div>

        {% include "footer.html" %}
    </main>
</body>

</html>