<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Andrew Porter">

<title>Andrew R. Porter</title>

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Noto+Sans%3A400italic%2C700italic%2C400%2C700%7CNoto+Serif%3A400italic%2C700italic%2C400%2C700&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />

<link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
<link rel="canonical" href="https://www.aporter.me">

<!-- Bootstrap -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">