<!DOCTYPE html>
<html>

<head>
    {% include "head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}">
</head>

<body>
    {% with active="/" %} {% include "nav.html" %} {% endwith %}

    <main role="main">

        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="bd-placeholder-img" height="100%" width="100%" src="{{ url_for('static', filename='img/background.jpg') }}" alt="Background image">
                    <div class="container text-center">
                        <div class="carousel-caption">
                            <h1>Andrew Porter</h1>
                            <p>Senior Computer Science Major at the University of New Hampshire</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container marketing">

            <!-- About -->
            <div class="row">
                <p class="about text-center">Current student at the University of New Hampshire, pursuing a degree in Computer Science. Interested in a career in the Financial Technology Industry. Furthering my passion for the stock market through development of various investment
                    applications and extensive research on the financial system. Outgoing, driven individual with a desire to make a lasting impact on those I am surrounded with. Hope to continue furthering my education in both the Computer Science field
                    and the Financial Technology Industry.</p>
                <div class="links col-md-2">
                    <a href="https://github.com/AndrewRPorter" target="_blank">
                        <span>
                            <object data="{{ url_for('static', filename='assets/fa/github.svg') }}" type="image/svg+xml"
                                height="70px" width="70px"></object>
                        </span>
                        <h4>GitHub</h4>
                    </a>
                </div>
                <!-- GitHub -->
                <div class="links col-md-2">
                    <a href="https://www.linkedin.com/in/andrew-porter/" target="_blank">
                        <span>
                            <object data="{{ url_for('static', filename='assets/fa/linkedin.svg') }}"
                                type="image/svg+xml" height="70px" width="70px"></object>
                        </span>
                        <h4>LinkedIn</h4>
                    </a>
                </div>
                <!-- LinkedIn -->
                <div class="links col-md-2">
                    <a href="https://stackoverflow.com/users/8168077/aporter1031?tab=profile" target="_blank">
                        <span>
                            <object data="{{ url_for('static', filename='assets/fa/stack-overflow.svg') }}"
                                type="image/svg+xml" height="70px" width="70px"></object>
                        </span>
                        <h4>StackOverflow</h4>
                    </a>
                </div>
                <!-- StackOverflow -->
                <div class="links col-md-2">
                    <a href="mailto:porter.r.andrew@gmail.com" target="_blank">
                        <span>
                            <object data="{{ url_for('static', filename='assets/fa/envelope.svg') }}"
                                type="image/svg+xml" height="70px" width="70px"></object>
                        </span>
                        <h4>Email</h4>
                    </a>
                </div>
                <!-- Email -->
            </div>
            <!-- About -->

            <hr class="divider">

        </div>

        {% include "footer.html" %}
    </main>
</body>

</html>