<!DOCTYPE html>
<html>
    <head>
        <title>Andrew Porter</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <p>Photos</p>
        {% for image, info in images.items() %}
            <img src="static/pictures/{{image}}" alt="{{info['description']}}">
        {% endfor %}
    </body>
</html>
