<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Andrew Porter">

    <title>Andrew R. Porter</title>

    <link rel="canonical" href="https://www.aporter.me">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
</head>

<body>

    {% with active="/photography" %} {% include "nav.html" %} {% endwith %}

    <main role="main">

        <div class="container">

            <!-- Grid row -->
            <div class="gallery" id="gallery">

                <!-- Grid column -->
                <div class="mb-3 pics animation all 2">
                    <img class="img-fluid" src="{{ url_for('static', filename='pictures/bermuda_sunset.jpg') }}" alt="Card image cap">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="mb-3 pics animation all 1">
                    <img class="img-fluid" src="{{ url_for('static', filename='pictures/waterfall.jpg') }}" alt="Card image cap ">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="mb-3 pics animation all 1">
                    <img class="img-fluid" src="{{ url_for('static', filename='pictures/cayman_tree.jpg') }}" alt="Card image cap">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="mb-3 pics animation all 2">
                    <img class="img-fluid" src="{{ url_for('static', filename='pictures/feet_water.jpg') }}" alt="Card image cap">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="mb-3 pics animation all 2">
                    <img class="img-fluid" src="{{ url_for( 'static', filename='pictures/bermuda_wave.jpg' ) }}" alt="Card image cap">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="mb-3 pics animation all 1">
                    <img class="img-fluid" src="{{ url_for('static', filename='pictures/railroad.jpg') }}" alt="Card image cap">
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <hr class="divider">

        </div>
        <!-- End container -->

        {% include "footer.html" %}
    </main>

</body>

</html>