<!DOCTYPE html>
<html>

<head>
    {% include "head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
</head>

<body>

    {% with active="/photography" %} {% include "nav.html" %} {% endwith %}

    <main role="main">

        <div class="container">

            <!-- Grid row -->
            <div class="gallery" id="gallery">

                <!-- Grid column -->
                <div class="mb-3 pics animation all 2">
                    <img class="img-fluid" src="{{ url_for('static', filename='pictures/bermuda_sunset.jpg') }}" alt="Card image cap">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="mb-3 pics animation all 1">
                    <img class="img-fluid" src="{{ url_for('static', filename='pictures/waterfall.jpg') }}" alt="Card image cap ">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="mb-3 pics animation all 1">
                    <img class="img-fluid" src="{{ url_for('static', filename='pictures/cayman_tree.jpg') }}" alt="Card image cap">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="mb-3 pics animation all 2">
                    <img class="img-fluid" src="{{ url_for('static', filename='pictures/feet_water.jpg') }}" alt="Card image cap">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="mb-3 pics animation all 2">
                    <img class="img-fluid" src="{{ url_for( 'static', filename='pictures/bermuda_wave.jpg' ) }}" alt="Card image cap">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="mb-3 pics animation all 1">
                    <img class="img-fluid" src="{{ url_for('static', filename='pictures/railroad.jpg') }}" alt="Card image cap">
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <hr class="divider">

        </div>
        <!-- End container -->

        {% include "footer.html" %}
    </main>

</body>

</html>